<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Submit</title>
  </head>
  <body>
    <%- errorText %><br />
    <br />
    <a href="/login">Try again</a>
  </body>
</html>
