<%- include("header") %>
  <title>Home</title>
</head>
<body>
    Hello, <%- name %>.<br />
    <img src="<%- imgLink %>"><br />
    <a href="/logout"><button>Sign out</button></a><br />
<%- include("footer") %>
