<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
      Hello, <%- name %>.<br />
      <img src="<%- imgLink %>"><br />
      <a href="/logout"><button>Sign out</button></a><br />
  </body>
</html>
