<%- include("templates/header", { title: "Signup", user }) %>
  <div class="alert alert-danger mt-3" role="alert">
    <%- errorText %>
  </div>
  <a href="/signup" class="btn btn-link">Try again</a>
<%- include("templates/footer") %>
